*{
    margin: 2px;
    border: 2px;
    padding: 2px;
}

.navbar{
         height: 80px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        /* background-color: rgba(0, 0, 0, 0.84); */
        color: white;
        padding: 20px 0px 10px;

}
.nav-inner1{
    font: 30px;
    font-family: sans-serif;
}
.nav-inner{
    font: 20px;
    font-family: sans-serif;
}
.nav-inner1:hover{
    background-color: brown;
}
.nav-inner:hover{
    background-color: brown;
}
.container{
    height: 115vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(156, 38, 38, 0.84); */
}
.picture{
    height: 100vh;
}
/* .picture1{
    position: relative;
    right: 105px;
    top: 5vh;
} */
.picture2{
    left: -105px;
    top: -300px;
    position: relative;
}
.container1{
    font-size: larger;
    width: 50%;
    float: left;
    padding: 20px;
    color: white;
font-family: sans-serif;
}
.text1{
    padding-top: 5px;
}
.text2{
    padding-top: 5px;
}
.hr{
    height: 1px;
    /* background-color: black; */
}
.container2{
    font-size: larger;
    width: 100%;
height: 500px;
display: flex;
justify-content: center;
align-items: center;
    color: white;
/
}
.container4{
    font-size: larger;
    width: 100%;
height: 500px;
display: flex;
justify-content: center;
align-items: center;
    color: white;
    /* background-color: green;  */
}
.box2{
    height: 400px;
        /* width: 50%;
        float: left; */
        /* background-color: #007EFF; */
        color: white;   
}
.line1{
padding-top: 5px;
    color: red;
}
/* .box1{
    font-size: larger;
    width: 50%;
    float: left;
    padding: 20px;
    color: white;
} */
.box1{
        height: 400px;
            width: 50%;
            /* background-color: pink; */
            color: white;   
}
.flag{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
.flag2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
.globe{
    top: -30px;
    position: relative;
    width: 40px;
    background: blue;
    padding: 10px;
    border-radius: 100%;
}
.rec{

    background: #007EFF;
    width: 50px;
    height: 50px;

}
.doc{
    top: -30px;
    position: relative;
    width: 50px;
    background: #48CDA0;
    padding: 10px;
    border-radius: 100%;
}
.rec2{

    background: #79DAB9;
    width: 50px;
    height: 50px;

}


.flag3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
.SUPERCONDUCTOR{
    top: -30px;
    position: relative;
    width: 40px;
    background: #ED5738;
    padding: 10px;
    border-radius: 100%;
}
.rm{

    display: flex;
    justify-content: start;
    align-items: center;
    color: #007EFF;

}
.readmore{
    height: 2px;
    width: 2px;
    background: #007EFF;
}
.rm2{

    display: flex;
    justify-content: start;
    align-items: center;
    color: #48CDA0;

}
.readmore2{
    height: 2px;
    width: 2px;
    background: #48CDA0;
}
.rm3{

    display: flex;
    justify-content: start;
    align-items: center;
    color: #ED5738;

}
.readmore3{
    height: 2px;
    width: 2px;
    background: #ED5738;
}
.rm4{

    display: flex;
    justify-content: start;
    align-items: center;
    color: #ED38D1;

}
.readmore4{
    height: 2px;
    width: 2px;
    background: #ED38D1;
}
.rec3{

    background: #ED5F38;
    width: 50px;
    height: 50px;

}
.flag4{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
.bulb{
    top: -30px;
    position: relative;
    width: 40px;
    background: #ED38D1;
    padding: 10px;
    border-radius: 100%;
}
.rec4{

    background: #ED38D1;
    width: 50px;
    height: 50px;

}
.rec2{

    background: #79DAB9;
    width: 50px;
    height: 50px;

}
.dot {
    height: 80px;
    width: 75px;
    background-color: #007EFF;
    border-radius: 50%;
    display: inline-block;
  }
  .rectangle{
height: 10rem;
width: 3rem;
    background-color: #0080ff87;
  }

.container3{
    font-size: larger;
    width: 100%;
height: 80vh;
display: flex;
justify-content: center;
align-items: center;
    color: white;
    /* background-color: aqua; */
}
.imgcontainer{
    height: 60vh;
    /* background-color: blue; */
}
.movingbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.b1{
    display: flex;
justify-content: center;
align-items: center;
    height: 4rem;
    width: 7rem;
    color: white;
    background-color: black;
}
.b2{
    display: flex;
    justify-content: center;
    align-items: center;
        height: 4rem;
        width: 77rem;
        color: white;
        background-color: #EE5738;
}
.longtext{
    /* background-color: aqua; */
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
